section.solution-hero.object-type-hero(style="background-image: url('static/images/common/about-bg.jpg')")
	.container
		<div class="dark-back" style="padding-top: 20px">
			<nav class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
				<ul class="list-inline">
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a href="/" title="Главная" itemprop="item"><span class="text" itemprop="name">Главная</span></a>
					</li>
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a href="/contents/index.php?ID=23" title="Типы обьектов" itemprop="item"><span class="text" itemprop="name">Типы обьектов</span></a>
					</li>
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<span class="current" itemprop="name">Торговые центры</span>
					</li>
				</ul>
			</nav>
		</div>
		<div class="solution-hero__wrapper object-type-hero__wrapper">
			<div class="about-hero__image-wrapper">
				<div class="about-hero__image">
					<img class="ami-lazy loaded" src="static/images/content/about-guardian.png" alt="" data-was-processed="true">
				</div>
			</div>
		<div class="solution-hero__title main-text mb-30">о компании</div>
		<div class="solution-hero__subtitle object-type-hero__subtitle">ГК “Император” специализируется на обеспечении безопасности и сервисах контроллинга для коммерческих объектов
		| по всей России</div>
		</div>
section.about-company-general
	.container
		.about-company-general__wrapper
			.about-company-general__left-col
				h3.about-company-general__subtitle В своей работе мы объединяем наработанный опыт  и современные технологии.
				p.about-company-general__text Группа компаний «Император» — федеральный оператор услуг комплексной безопасности и сервисов контроллинга, лидер по созданию новых высокотехнологичных решений в отрасли.
				p.about-company-general__text Ключевое направление — физическая охрана объектов. Помимо этого, мы предоставляем обслуживание и монтаж технических систем безопасности, сервис удаленного видеомониторинга и контроля кассовых операций и #[a(href="https://impsa.ru/services/") другие услуги] по безопасности и контроллингу.
				p.about-company-general__text «Император» выступает за честность и открытость, строго соблюдает налоговое, трудовое и охранное законодательство. Мы являемся надежным партнером для своих клиентов — крупнейших розничных сетей торговых и бизнес-центров, логистических объектов, промышленных предприятий и других компаний из #[a(href="https://impsa.ru/segments/") любой сферы бизнеса].
				p.about-company-general__text За 27 лет компания выросла из службы безопасности розничной сети в крупного интегратора услуг безопасности. Мы работаем по всей России и имеем #[a(href="https://impsa.ru/contacts/") офисы] в 5 городах.
			.about-company-general__right-col
				.about-company-general__quote
					p.about-company-general__quote-text Мы работаем над тем, чтобы стать самой сильной охранной организацией России. Предпочитаем оказывать именно  комплексные услуги, полностью неся ответственность за результат и гарантируя снижение потерь.
					p.about-company-general__quote-author
						span.about-company-general__quote-company #[strong Владимир Неровный]
						span.about-company-general__quote-company Президент ГК"Император"
				.about-company-general__license
					a.about-company-general__license-link(data-fancybox="gallery" href="/local/templates/imperator/img/license-full.jpeg")
						img.about-company-general__license-icon(src="static/images/content/about-license.png" height="80" width="80" alt="Иконка лицензии")
						span.about-company-general__license-text Лицензия на осуществление частной охранной деятельности № 034561
section.about-company-advantages
	.container
		h2.about-company-advantages__title.main-text Преимущества
		ul.about-company-advantages__list
			li.about-company-advantages__item
				.about-company-advantages__inner
					img.about-company-advantages__img(src="static/images/content/about-advantages-flag.png" height="50" width="50" alt="Федеральный охват")
					h3.about-company-advantages__name Федеральный охват
					p.about-company-advantages__text Работаем с объектами по всей России, быстро заступаем в новых регионах, офисы в 5 городах
			li.about-company-advantages__item
				.about-company-advantages__inner
					img.about-company-advantages__img(src="static/images/content/about-advantages-reputations.png" height="50" width="50" alt="Репутация на рынке")
					h3.about-company-advantages__name Репутация на рынке
					p.about-company-advantages__text Входим в 20-ку ЧОП России из 24 тысяч и в тройку лидеров по безопасности в ритейле
			li.about-company-advantages__item
				.about-company-advantages__inner
					img.about-company-advantages__img(src="static/images/content/about-advantages-lupa.png" height="50" width="50" alt="Прозрачность и честность")
					h3.about-company-advantages__name Прозрачность и честность
					p.about-company-advantages__text Соблюдаем налоговое, трудовое и охранное законодательство, честно относимся к клиентам и сотрудникам, того же ждем от них
			li.about-company-advantages__item
				.about-company-advantages__inner
					img.about-company-advantages__img(src="static/images/content/about-advantages-nice.png" height="50" width="50" alt="Надежный партнер")
					h3.about-company-advantages__name Надежный партнер
					p.about-company-advantages__text Работая с нами, вы получаете финансово устойчивого партнера с низкой текучкой кадров
			li.about-company-advantages__item
				.about-company-advantages__inner
					img.about-company-advantages__img(src="static/images/content/about-advantages-lamp.png" height="50" width="50" alt="Современный подход")
					h3.about-company-advantages__name Современный подход
					p.about-company-advantages__text Используем 27-летний опыт, классические концепции и иновациионные технологии в охране и безопасности
			li.about-company-advantages__item
				.about-company-advantages__inner
					img.about-company-advantages__img(src="static/images/content/about-advantages-team.png" height="50" width="50" alt="Экспертное сообщество")
					h3.about-company-advantages__name Экспертное сообщество
					p.about-company-advantages__text Сотрудничаем с институтом Адизеса, ежегодно проводим профессиональные  конференции по безопасности
<section class="about-mission" style="overflow: hidden;">
	<div class="container"><div class="flex-row aib"><div class="col-xs-12 col-lg-7 pull-right obertka" style="position:relative;"><img class="ami-lazy muzhik loaded" src="/local/templates/imperator/img/people/mission_woman.jpg" data-src="/local/templates/imperator/img/people/mission_woman.jpg" alt="man" data-was-processed="true"><div class="row"><div class="col-xs-12 col-lg-9 text-ober"><div class="left-block-wrap"><h2 class="main-text ttu mb-30 h2"><strong>Миссия</strong></h2><div class="description"><strong>Наше предназначение — предотвращение материальных и нематериальных потерь наших клиентов</strong></div><div class="more-text"><p>Являясь признанным лидером рынка услуг безопасности для сетевой розницы в стране и одной из самых сильных компаний в предотвращении потерь в ритейле, располагая высокой деловой и профессиональной репутацией, пятью региональными офисами, управляющими операциями в более чем 50 городах РФ, занимая про-активную позицию по отношению к потребностям клиентов и обеспечивая быструю скорость реакции на потребности Заказчиков, сокращение бюджетов на охранные услуги и программ развития ключевых игроков сетевого ритейла в России, мы увеличиваем долю компании на рынке услуг безопасности и диверсифицируем структуру наших клиентов, продуктов и услуг, для чего наращиваем присутствие в сегментах:</p></div></div></div><div class="col-xs-12 pull-right"><div class="left-block-wrap"><ul class="sphere-solutions-list list-unstyled flex-row flex-wrap jcs ais mb-0 grid-system"><li class="flex-item" id="bx_651765591_14"><a href="/retail_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_1"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/3ec/3ece9cead7d73601d580ab4a50bb7812.png" data-src="/upload/iblock/3ec/3ece9cead7d73601d580ab4a50bb7812.png" alt="Розничные сети" data-was-processed="true"><span>Розничные сети</span></a></li><li class="flex-item" id="bx_651765591_15"><a href="/manufacturing_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_2"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/ab6/ab6cd5c6caf25cd1fe7ec044f192e3be.png" data-src="/upload/iblock/ab6/ab6cd5c6caf25cd1fe7ec044f192e3be.png" alt="Заводы и промышленность" data-was-processed="true"><span>Заводы и промышленность</span></a></li><li class="flex-item" id="bx_651765591_16"><a href="/mall_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_3"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/de0/de03971a98b59f543333f2fdfbd5c335.png" data-src="/upload/iblock/de0/de03971a98b59f543333f2fdfbd5c335.png" alt="Торговые центры" data-was-processed="true"><span>Торговые центры</span></a></li><li class="flex-item" id="bx_651765591_388"><a href="/commercial_facilities_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_8"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/ba9/ba901db0f3c44648a2f2dce8704812bc.png" data-src="/upload/iblock/ba9/ba901db0f3c44648a2f2dce8704812bc.png" alt="Коммерческие объекты" data-was-processed="true"><span>Коммерческие объекты</span></a></li><li class="flex-item" id="bx_651765591_17"><a href="/warehouse_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_4"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/291/291819f1e1466bd54b3c253ff69d2841.png" data-src="/upload/iblock/291/291819f1e1466bd54b3c253ff69d2841.png" alt="Склады и логистика" data-was-processed="true"><span>Склады и логистика</span></a></li><li class="flex-item act" id="bx_651765591_18"><a href="/business_center_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_5"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/ca3/ca3cbe93907d760879c87a9b9d23c11a.png" data-src="/upload/iblock/ca3/ca3cbe93907d760879c87a9b9d23c11a.png" alt="Бизнес-центры и офисы" data-was-processed="true"><span>Бизнес-центры и офисы</span></a></li><li class="flex-item" id="bx_651765591_19"><a href="/public_events_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_6"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/21f/21f61c1e61ed9ea595859e4efaa47f03.png" data-src="/upload/iblock/21f/21f61c1e61ed9ea595859e4efaa47f03.png" alt="Массовые мероприятия" data-was-processed="true"><span>Массовые мероприятия</span></a></li><li class="flex-item" id="bx_651765591_387"><a href="/residential_complex_security/"><svg class="icon hidden"><use xlink:href="#i_solutions_7"></use></svg><img class="ami-lazy loaded" src="/upload/iblock/c39/c39d4fb8107dde997e1746fda2f41f7b.png" data-src="/upload/iblock/c39/c39d4fb8107dde997e1746fda2f41f7b.png" alt="Жилые комплексы и ТСЖ" data-was-processed="true"><span>Жилые комплексы и ТСЖ</span></a></li></ul></div></div><div class="col-xs-12 pull-right"><div class="left-block-wrap"><div class="more-text"></div></div></div></div></div></div></div>
</section>
section.about-company-history
	.container
		h2.about-company-history__title.main-text История компании
		.about-company-history__year-slider.swiper-container
			ul.about-company-history__year-list.swiper-wrapper
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 1994
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2006
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2008
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2012
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2013
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2014
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2015
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2017
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2018
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2019
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2020
				li.about-company-history__year-item.swiper-slide
					span.about-company-history__year 2021
		.about-company-history__slider.swiper-container
			ul.about-company-history__list.swiper-wrapper
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 1994 год
								p.about-company-history__text.about-company-history__text--head Служба безопасности розничной сети
								p.about-company-history__text Основание компании для охраны крупной розничной сети в Санкт-Петербурге
								a.about-company-history__link(data-fancybox href="/upload/images/First_license.JPG") Первая лицензия на охрану
								p.about-company-history__text 30 сотрудников
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-1994.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2006 год
								p.about-company-history__text.about-company-history__text--head Охранное агентство
								p.about-company-history__text Выход на рынок услуг безопасности
								p.about-company-history__text 80 сотрудников
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2006.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2008 год
								p.about-company-history__text.about-company-history__text--head Охранное агентство
								p.about-company-history__text Первый международный контракт
								p.about-company-history__text 150 сотрудников
								p.about-company-history__text.about-company-history__text--light Гипермаркет OBI
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2008.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2012 год
								p.about-company-history__text.about-company-history__text--head Охранное агентство
								p.about-company-history__text Новая стратегия - #[a(href="https://impsa.ru/retail_security/" target="_black") специализация на розничных сетях]
								p.about-company-history__text 150 сотрудников
								p.about-company-history__text.about-company-history__text--light IKEA, Nissan, Ашан
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2012.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2013 год
								p.about-company-history__text.about-company-history__text--head Охранное агентство
								p.about-company-history__text Активное развитие, - #[a(href="https://impsa.ru/geo/" target="_black") региональная экспансия]
								p.about-company-history__text 1100 сотрудников
								p.about-company-history__text.about-company-history__text--light Лента, К-Раута, Леруа Мерлен, Модис, Старт, ТРЦ «Галерея», ТРЦ «Жемчужная Плаза»
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2013.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2014 год
								p.about-company-history__text.about-company-history__text--head Охранное агентство
								p.about-company-history__text Запуск системы #[a(href="https://impsa.ru/services/fizicheskaya-okhrana-obektov/" target="_black") стандартов качества герметичности]
								p.about-company-history__text 1800 сотрудников
								p.about-company-history__text.about-company-history__text--light Fazer, NCC, Heineken, ТЦ «Торговый парк № 1», ТЦ «Аркада», Gestamp
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2014.png")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2015 год
								p.about-company-history__text.about-company-history__text--head Охранное агентство
								p.about-company-history__text Переход на ERP систему
								p.about-company-history__text 2500 сотрудников
								p.about-company-history__text.about-company-history__text--light О'КЕЙ, PRISMA, IKEA «Парнас», Tikkurila
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2015.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2017 год
								p.about-company-history__text.about-company-history__text--head Интегратор услуг безопасности
								p.about-company-history__text Образование подразделения #[a(href="https://techno.impsa.ru/" target="_black") технических систем безопасности]
								p.about-company-history__text Внедрение #[a(href="https://impsa.ru/services/mobilnyy-audit-biznes-protsessov/" target="_black") сервиса мобильного аудита]
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2017.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2018 год
								p.about-company-history__text.about-company-history__text--head Интегратор услуг безопасности
								p.about-company-history__text Первая #[a(href="https://impsa.ru/presscenter/meropriyatiya/konferentsiya-po-bezopasnosti-2018/" target="_black") конференция по безопасности]
								p.about-company-history__text 4300 сотрудников
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2018.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2019 год
								p.about-company-history__text.about-company-history__text--head Интегратор услуг безопасности
								p.about-company-history__text Активное формирование экосистемы #[a(href="https://impsa.ru/presscenter/business-ecosystem/" target="_black") C.A.S.T.A.]
								p.about-company-history__text Вторая конференция по безопасности #[a(href="http://imperator-forum.ru/" target="_black") Imperator-forum]
								p.about-company-history__text.about-company-history__text--light М.Видео, Lamoda, H&M, Castorama, ТВОЁ
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2019.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2020 год
								p.about-company-history__text.about-company-history__text--head Интегратор услуг безопасности
								p.about-company-history__text Первая конференция #[a(href="https://youtu.be/G2ZZBfeCRJY" target="_black") "Безопасность ТРЦ"] и первый #[a(href="https://impsa.ru/presscenter/news/online-conference-retail-security/" target="_black") Imperator-Forum] в онлайн формате
								p.about-company-history__text.about-company-history__text--light Globus, РОЛЬФ
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2020.jpg")
				li.about-company-history__item.swiper-slide
					.about-company-history__inner
						.about-company-history__wrapper
							.about-company-history__left-col
								span.about-company-history__name 2021 год
								p.about-company-history__text.about-company-history__text--head Интегратор услуг безопасности
								p.about-company-history__text 4-я профессиональная конференция #[a(href="https://impsa.ru/presscenter/news/konferentsiya-trendy-v-bezopasnosti-riteyla-2021/" target="_black") "Imperator-Forum 2021"]
								p.about-company-history__text.about-company-history__text--light British American Tobacco, OBI
							.about-company-history__right-col
								.about-company-history__image
									img.about-company-history__img(src="static/images/content/about-history-2021.jpg")
			button.about-company-history__button.about-company-history__button--prev
				img(src="static/images/content/icon-arrow.png" height="30" width="30")
			button.about-company-history__button.about-company-history__button--next
				img(src="static/images/content/icon-arrow.png" height="30" width="30")
section.about-company-community
	.container
		h2.about-company-community__title.main-text Экспертное сообщество
		.about-company-community__wrapper
			.about-company-community__col
				p.about-company-community__text #[strong Группа компаний “Император” стремится формировать и развивать экспертное сообщество в сфере безопасности.] Наши профессионалы регулярно дают интервью различным изданиям, делятся опытом, обсуждают проблемы рынка и новые концепции.
				p.about-company-community__text Мы ежегодно устраиваем профессиональные конференции. Как они проходят можно посмотреть на нашем #[a(href="https://www.youtube.com/channel/UCfMTQ...HiICC-ZZRQ" target="_blank") официальном YouTube канале]
			.about-company-community__col
				iframe(width="100%" height="315" src="https://www.youtube.com/embed/jb5W5yV-wEM" frameborder="0" allowfullscreen)
section.about-company-info
	.container
		.about-company-info__content
			.about-company-info__hire
				h2.about-company-info__title Заказать звонок
				//- ======== Вот сюда нужно встасть форму! ========= -//
			.about-company-info__contacts
				p.about-company-info__text По всем вопросам, Вы можете обратиться по телефону или заказать обратный звонок
				a.about-company-info__link(href="tel:88122136782") 8 (812) 213 67 82
				a.about-company-info__link(href="tel:88122136782") 8 (495) 146 67 82
				a.about-company-info__link(href="mailto:zakaz@impsa.ru") zakaz@impsa.ru
				p.about-company-info__desc “Император” предоставляет услуги охраны и безопасности по всей России. Наши офисы расположены в Москве, Санкт-Петербурге, Новосибирске, Самаре и Твери.
<footer class="footer footer-new">
	<div class="container"><div class="flex-row "><div class="flex-item footer-mobile-ml"><div class="logo-new"><a href="/"><img class="ami-lazy loaded" src="/local/templates/imperator/img/logo-new.png" data-src="/local/templates/imperator/img/logo-new.png" alt="logo" data-was-processed="true"></a></div><div class="contacs-info-new"><div><a class="contacs-info-new__tel" href="tel:+78122136782">+7(812) 213-67-82</a></div><div style="display: flex;align-items: center;"><img class="ami-lazy loaded" src="/local/templates/imperator/img/mail-ico.png" data-src="/local/templates/imperator/img/mail-ico.png" alt="mail" style="width: 33px;height: 22px" data-was-processed="true"><a href="mailto:zakaz@impsa.ru" class="contacs-info-new__mail"><a href="mailto:zakaz@impsa.ru">zakaz@impsa.ru</a></a></div><script data-b24-form="click/3/lyvwio" data-skip-moving="true" data-b24-loaded="true"> (function (w, d, u) { var s = d.createElement('script'); s.async = true; s.src = u + '?' + (Date.now() / 180000 | 0); var h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h); })(window, document, 'https://impsa.su/upload/crm/form/loader_3_lyvwio.js'); </script><a href="javascript:void(0);" class="b24-web-form-popup-btn-3 preview-banner__form-call">Заказать звонок</a></div></div><div class="flex-item menu-list-new-box"><div class="menu-list-new"><h3>КЛИЕНТУ</h3><ul><li><a href="/about/">О Компании</a></li><li><a href="/segments/">Охрана объектов</a></li><li><a href="/clients/">Клиенты</a></li><li><a href="/contacts/">Контакты</a></li><li><a href="/geo/">География</a></li><li><a href="/presscenter/">Пресс-Центр</a></li><li><a href="/sitemap/">Карта сайта</a></li></ul></div><div class="menu-list-new"><h3>УСЛУГИ</h3><ul><li><a href="/services/guarding/">Физическая охрана</a></li><li><a href="/services/technical_security_systems/">Технические системы безопасности</a></li><li><a href="/services/remote_videomonitoring/">Удалённый видеомониторинг</a></li><li><a href="/services/cash_control/">Аналитика кассовых операций</a></li><li><a href="/services/operatsionnyy-kontrolling/">Операционный контроллинг</a></li><li><a href="/services/check_list_service/">Сервис электронных чек-листов</a></li></ul></div></div></div><div class="flex-row jcc"><div class="flex-item main-flex-item"><ul class="social-list list-inline mb-0"><li><a target="_blank" href="https://www.instagram.com/imperator_gc/"><span class="img-wrap social-icon"><img class="ami-lazy loaded" src="/local/templates/imperator/img/social/insta.png" data-src="/local/templates/imperator/img/social/insta.png" alt="instagram" data-was-processed="true"></span></a></li><li><a target="_blank" href="https://www.youtube.com/channel/UCfMTQy_t1BM39HiICC-ZZRQ"><span class="img-wrap social-icon"><img class="ami-lazy loaded" src="/local/templates/imperator/img/social/Youtube.png" data-src="/local/templates/imperator/img/social/Youtube.png" alt="youtube" data-was-processed="true"></span></a></li><li><a target="_blank" href="https://www.facebook.com/imperator.gc/"><span class="img-wrap social-icon"><img class="ami-lazy loaded" src="/local/templates/imperator/img/social/facebook.png" data-src="/local/templates/imperator/img/social/facebook.png" alt="facebook" data-was-processed="true"></span></a></li><li><a target="_blank" href="https://www.linkedin.com/company/imperator-gc/"><span class="img-wrap social-icon"><img class="ami-lazy loaded" src="/local/templates/imperator/img/social/inkedin.png" data-src="/local/templates/imperator/img/social/inkedin.png" alt="inked in" data-was-processed="true"></span></a></li></ul></div></div><div class="flex-row"></div></div><hr><div class="flex-row jcc"><div class="copyright"><span class="c"><sup>©</sup> </span>ООО "ОО "Император", 2021г.</div></div>
</footer>

