section.solution-hero.object-type-hero
	.container
		<div class="dark-back" style="padding-top: 20px">
			<nav class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
				<ul class="list-inline">
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a href="/" title="Главная" itemprop="item"><span class="text" itemprop="name">Главная</span></a>
					</li>
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a href="/contents/index.php?ID=23" title="Типы обьектов" itemprop="item"><span class="text" itemprop="name">Типы обьектов</span></a>
					</li>
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<span class="current" itemprop="name">Торговые центры</span>
					</li>
				</ul>
			</nav>
		</div>
		<div class="solution-hero__wrapper object-type-hero__wrapper">
			<div class="solution-hero__title main-text mb-30">типы объектов</div>
			<div class="solution-hero__subtitle object-type-hero__subtitle">Услуги охраны и безопасности для любого бизнеса</div>
		</div>
section.object-type-areas
	.container
		.object-type-areas__top
			h2.object-type__title Сферы бизнеса
			p.object-type__text  Мы предоставляем услуги для разных сфер бизнеса. Перед заступлением на объект, мы тщательно изучаем его специфику и особенности сферы бизнеса, чтобы предложить самую эффективную систему безопасности, подходящую именно вам!
		ul.object-type-areas__list
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/143@2x.png" height="101" width="100")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
section.object-type-defender
	.container
		h2.object-type__title Высокий уровень защиты
		p.object-type__text Наша физическая охрана - это основа компании. Мы придерживаемся высоких стандартов, чем большинство других компаний
		p.object-type-defender__text #[span.object-type__red.object-type__bold Охранная организация «Император»] входит в число ведущих компаний по обеспечению охранных услуг в России, предоставляя профессиональных охранников, детективов, видеооператоров и других специалистов. <br>Услуги безопасности подбираются нами в зависимости от типа объекта, это может быть: патрулирование территории, контроль доступа в помещение или защиты денежных средств и людей.
		p.object-type-defender__text Если Вы сомневаетесь в качестве Вашей текущей программы безопасности объекта, наши специалисты проведут анализ безопасности, выявят слабые места, дадут рекомендации, и разработают комплексный план для защиты имущества и минимизации потерь. Мы предоставляем решения, которые соответствуют вашему бюджету
		p.object-type-defender__text Работая с 1994 года, мы поддерживаем стандарты безопасности благодаря обширному опыту и внедрению новых технологий. Вне зависимости от того, в какой сфере вы работаете, мы можем предоставить профессиональные услуги безопасности для удовлетворения ваших потребностей в охране. Свяжитесь с нами, чтобы узнать цену на услуги безопасности вашего объекта
		p.object-type-defender__text.object-type__bold #[span.object-type__red ЧОО «Император»] предоставляет комплекс услуг по охране в о многих отраслях В2В. Если вам нужна служба охраны, консультация по вопросам безопасности, у нас есть опыт во всех предлагаемых нами услугах. Будьте уверены, мы готовы разработать план безопасности, который будет соответствовать вашему объекту и рискам безопасности.
section.object-type-info
	.container
		.object-type-info__content
			.object-type-info__hire
				h2.object-type__title нанять охрану
				<form method="post" novalidate="novalidate"><!----> <div><div class="b24-form-field b24-form-field-name b24-form-control-string"><div><div><div class="b24-form-control-container b24-form-control-icon-after"><input name="name" autocomplete="given-name" type="string" class="b24-form-control"> <div class="b24-form-control-label">
				Имя
				<span class="b24-form-control-required">*</span></div> <!----> <!----> <div class="b24-form-control-alert-message" style="display: none;">
			Поле обязательно для заполнения
		</div></div></div> <!----></div> <!----></div><div class="b24-form-field b24-form-field-phone b24-form-control-string"><div><div><div class="b24-form-control-container b24-form-control-icon-after"><input name="phone" autocomplete="tel" type="tel" class="b24-form-control"> <div class="b24-form-control-label">
				Телефон
				<span class="b24-form-control-required">*</span></div> <!----> <!----> <div class="b24-form-control-alert-message" style="display: none;">
			Поле обязательно для заполнения
		</div></div></div> <!----></div> <!----></div><div class="b24-form-field b24-form-field-email b24-form-control-string"><div><div><div class="b24-form-control-container b24-form-control-icon-after"><input name="email" autocomplete="email" type="email" class="b24-form-control"> <div class="b24-form-control-label">
				E-mail
				<span class="b24-form-control-required" style="display: none;">*</span></div> <!----> <!----> <div class="b24-form-control-alert-message" style="display: none;">

		</div></div></div> <!----></div> <!----></div><div class="b24-form-field b24-form-field-file b24-form-control-file"><!----> <div><div class="b24-form-control-container"><div class="b24-form-control-label">
				ТЗ Заказчика
				<span class="b24-form-control-required" style="display: none;">*</span></div> <div class="b24-form-control-filelist"><div><!----> <div class="b24-form-control-file-item-empty"><label class="b24-form-control">
					Выбрать файл
					<input type="file" style="display: none;"></label></div></div> <div class="b24-form-control-alert-message" style="display: none;">

		</div></div></div></div></div></div> <div><div class="b24-form-field b24-form-field-agreement b24-form-control-agreement"><!----> <div><label class="b24-form-control-container"><input type="checkbox" onclick="this.blur()"> <span class="b24-form-control-desc"><span class="b24-form-field-agreement-link">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих
персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей,
определенных в Согласии на обработку персональных данных</span></span> <span class="b24-form-control-required">*</span> <div class="b24-form-control-alert-message" style="display: none;">

		</div></label></div></div> <div class="b24-window"><div class="b24-window-overlay" style="display: none;"></div> <div class="b24-window-popup b24-window-popup-p-center" style="display: none;"><div class="b24-window-popup-wrapper" style="max-width: 600px;"><button type="button" class="b24-window-close" style="z-index: 200019;"></button> <div><!----> <div class="b24-window-scrollable" style="z-index: 199999;"><div class="b24-window-scroll-anchor"></div> <!----> <div class="b24-window-popup-body"><div style="padding: 0px 12px 12px;"><div></div> <div class="b24-form-btn-container" style="padding: 12px 0px 0px;"><div class="b24-form-btn-block"><button type="button" class="b24-form-btn">
								Принимаю
							</button></div> <div class="b24-form-btn-block"><button type="button" class="b24-form-btn b24-form-btn-white b24-form-btn-border">
								Не принимаю
							</button></div></div></div></div> <div class="b24-window-scroll-anchor"></div></div> <!----></div></div></div></div></div> <!----> <div class="b24-form-btn-container"><!----> <!----> <div class="b24-form-btn-block"><button type="submit" class="b24-form-btn">
								Отправить
							</button></div></div> <span style="color: red; display: none;">
						Debug: fill fields
					</span></form>
