section.solution-hero.object-type-hero(style="background-image: url('static/images/common/object-type-bg.png')")
	.container
		<div class="dark-back" style="padding-top: 46px">
			<nav class="breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
				<ul class="list-inline">
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a href="/" title="Главная" itemprop="item"><span class="text" itemprop="name">Главная</span></a>
					</li>
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a href="/contents/index.php?ID=23" title="Типы обьектов" itemprop="item"><span class="text" itemprop="name">Типы обьектов</span></a>
					</li>
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<span class="current" itemprop="name">Торговые центры</span>
					</li>
				</ul>
			</nav>
		</div>
		<div class="solution-hero__wrapper object-type-hero__wrapper">
			<div class="object-type-hero__image-wrapper">
				<div class="object-type-hero__image">
					<img class="ami-lazy loaded" src="static/images/content/object-type-people.png" alt="" data-was-processed="true">
				</div>
			</div>
			<div class="solution-hero__title main-text mb-30">типы объектов</div>
			<div class="solution-hero__subtitle object-type-hero__subtitle">Услуги охраны и безопасности для любого бизнеса</div>
		</div>
section.object-type-areas
	.container
		.object-type-areas__top
			h2.object-type__title Сферы бизнеса
			p.object-type__text  Мы предоставляем услуги для разных сфер бизнеса. Перед заступлением на объект, мы тщательно изучаем его специфику и особенности сферы бизнеса, чтобы предложить самую эффективную систему безопасности, подходящую именно вам!
		ul.object-type-areas__list
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-basket.png" height="100" width="101")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана розничных сетей
						p.object-type-areas__item-text Супермаркеты, гипермаркеты, магазины в ТЦ, магазины у дома
				p.object-type-areas__item-desc Присутствие охранников препятствует воровству, порче товаров и другой преступной деятельности. Это позволяет розничному магазину работать более эффективно
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-table.png" height="98" width="97")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана Бизнес центров и офисов
				p.object-type-areas__item-desc Охрана поддерживает статус объекта, обеспечивает контроль доступа, защиту материальных ценостей и охрану сотрудников компании и ее данных
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-ambar.png" height="92" width="92")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана Складов
						p.object-type-areas__item-text Складские комплексы, логистические центры и пункты выдачи товаров
				p.object-type-areas__item-desc Наша охрана предотвращает кражу товаров,  сохранность материальных ценностей и складских рабочих, обеспечивает быстрое реагирование в случае ЧС, обход территории склада
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-factory.png" height="90" width="96")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана предприятий
						p.object-type-areas__item-text Заводы, фабрики, промышленность
				p.object-type-areas__item-desc Наличие сотрудников охраны “Император”, может помочь защитить ваше производственное предприятие и все его содержимое (изделия, прототипы, разработки, детали), контролировать посещение сотрудников и обеспечивает охрану общественного порядка
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-home.png" height="89" width="89")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана жилой недвижимости (ТСЖ)
						p.object-type-areas__item-text Коттэджи, Жилые комплексы
				p.object-type-areas__item-desc Защита жизни и здоровья жильцов и придомовой территории; предотвращение хищений и порчи общедомового имущества, контроль парковки, контроль обслуживающего персонала
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-mall.png" height="98" width="99")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана в торговые центры
						p.object-type-areas__item-text Торгово -развлекательные комплексы
				p.object-type-areas__item-desc Присутствие охранников препядствует  краже товаров в магазинах ТК; обеспечивае защиту жизни и здоровья персонала и посетителей; обеспечивает пожарную безопасность
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-eat.png" height="91" width="69")
					.object-type-areas__inner
						p.object-type-areas__item-title Малоформатные объекты
						p.object-type-areas__item-text Охрана слона красоты, охрана ресторанов, охрана кафе,  охрана аптек, гостиниц и тд
				p.object-type-areas__item-desc Охрана обеспечивает встречу гостей, сохранность имущества заведения, и посетителей. Контроль парковки автомобилей на территории  и обеспечение пожарной безопасности. Защита сотрудников и постояльцев.
			li.object-type-areas__item
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-mass.png" height="87" width="80")
					.object-type-areas__inner
						p.object-type-areas__item-title Охрана массовых мероприятий
						p.object-type-areas__item-text Концерты, спортивные мероприятия, выставки
				p.object-type-areas__item-desc Наличие сотрудников охраны “Император”, может обеспечить охрану Вашего мероприятия, предотвратить ЧС,  драки, порчу оборудования и вред гостям.  Охранники будут осуществлять пропускной режмм, мониторинг парковки и соблюдение правил безопасности
			li.object-type-areas__item.object-type__red
				.object-type-areas__box
					img.object-type-areas__img(src="static/images/content/icon-guard.png" height="100" width="86")
					.object-type-areas__inner
						p.object-type-areas__item-title Индивидуальные и комплексные системы безопасности
				p.object-type-areas__item-desc Даже если вы не нашли описание своего объекта на этой странице, но Вам требуютсяя  услуги охраны, Вы можете связаться с нами и мы подберем для Вас оптимальный вариант. #[span.object-type__bold Мы используем лучшие отраслевые практики, чтобы оставаться в курсе инноваций, и гарантировать Вам использование наиболее экономичных методов обеспечения безопасности]
section.object-type-defender(style="background-image: url('static/images/common/object-type-protect-bg.png')")
	.container
		h2.object-type__title Высокий уровень защиты
		p.object-type__text Наша физическая охрана - это основа компании. Мы придерживаемся высоких стандартов, чем большинство других компаний
		p.object-type-defender__text #[span.object-type__red.object-type__bold Охранная организация «Император»] входит в число ведущих компаний по обеспечению охранных услуг в России, предоставляя профессиональных охранников, детективов, видеооператоров и других специалистов. <br>Услуги безопасности подбираются нами в зависимости от типа объекта, это может быть: патрулирование территории, контроль доступа в помещение или защиты денежных средств и людей.
		p.object-type-defender__text Если Вы сомневаетесь в качестве Вашей текущей программы безопасности объекта, наши специалисты проведут анализ безопасности, выявят слабые места, дадут рекомендации, и разработают комплексный план для защиты имущества и минимизации потерь. Мы предоставляем решения, которые соответствуют вашему бюджету
		p.object-type-defender__text Работая с 1994 года, мы поддерживаем стандарты безопасности благодаря обширному опыту и внедрению новых технологий. Вне зависимости от того, в какой сфере вы работаете, мы можем предоставить профессиональные услуги безопасности для удовлетворения ваших потребностей в охране. Свяжитесь с нами, чтобы узнать цену на услуги безопасности вашего объекта
		p.object-type-defender__text.object-type__bold #[span.object-type__red ЧОО «Император»] предоставляет комплекс услуг по охране в о многих отраслях В2В. Если вам нужна служба охраны, консультация по вопросам безопасности, у нас есть опыт во всех предлагаемых нами услугах. Будьте уверены, мы готовы разработать план безопасности, который будет соответствовать вашему объекту и рискам безопасности.
section.object-type-info
	.container
		.object-type-info__content
			.object-type-info__hire
				h2.object-type__title нанять охрану
				//- ======== Вот сюда нужно встасть форму! ========= -//
			.object-type-info__contacts
				p.object-type-info__text Остались вопросы?  Свяжитесь с нами
				a.object-type-info__link(href="tel:88122136782") 8 (812) 213 67 82
				a.object-type-info__link(href="tel:88122136782") 8 (495) 146 67 82
				a.object-type-info__link(href="mailto:zakaz@impsa.ru") zakaz@impsa.ru
				p.object-type-info__desc Позвоните нам или заполните форму, наши специалисты свяжутся с вами в ближайшее время и ответят на все ваши вопросы, рассчиттают смету. подготовят КП  по безопасности объекта

