section.press-center
	.container
		h2.press-center__title Пресс-центр
		p.press-center__text Наша компания ведет активную общественную деятельность и является экспертом в сфере безопасности и охраны коммерческих объектов. Мы регулярно публикуем новости компании и полезные материалы, делясь своим опытом с клиентами и партнерами.
		ul.press-center__news
			li.press-center__new.press-center__new--main(style="background-image:url('static/images/common/news-bg.png')")
				.press-center__date-label
					span.press-center__date 13
					span.press-center__date июня
					span.press-center__date 2021г
				h3.press-center__heading.press-center__heading--main Вакцинация сотрудников
				p.press-center__description.press-center__description--main В конце июня в офисе ГК "Император" была проведена вакцинация сотрудников совместно с клиникой Uninova.
				a.press-center__more(href="#") Подробнее
			li.press-center__new
				h3.press-center__heading Экспертное мнение
				p.press-center__description Статьи экспертов в области безопасности,  информация о рынке, статистика
				a.press-center__more(href="#") Подробнее
			li.press-center__new
				h3.press-center__heading Бизнес экосистема
				p.press-center__description Лучшие решения по эффективной безопасности и предотвращению потерь
				a.press-center__more(href="#") Подробнее
		a.press-center__all-news(href="#")
			span Все новости
			img(src="static/images/common/arrow-botton.png" height="18" width="18")
