.object-type-hero {
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 416px;
  .solution-hero__title {
    font-weight: 800;
    max-width: 600px;
    min-height: unset;
    margin: 0 0 40px 0;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 767px) {
      margin: 0 0 20px 0;
    }
  }
  .object-type-hero__wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
    max-width: unset;
    @media screen and (max-width: 1280px) {
      padding-bottom: 80px;
    }
    @media screen and (max-width: 530px) {
      padding-bottom: 200px;
    }
  }
  .object-type-hero__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.65px;
    margin: 0;
    max-width: 600px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 991px) {
      max-width: 50%;
    }
    @media screen and (max-width: 530px) {
      max-width: 100%;
    }
  }
}

.about-hero {
  &__image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 450px;
    width: 100%;
    @media screen and (max-width: 1280px) {
      max-width: 500px;
    }
    @media screen and (max-width: 991px) {
      max-width: 400px;
    }
  }
  &__image {
    position: relative;
  }
  &__image img {
    position: absolute;
    left: -130px;
    bottom: -180px;
    width: 100%;
    height: auto;
    @media screen and (max-width: 1280px) {
      left: 120px;
      width: 400px;
    }
    @media screen and (max-width: 1200px) {
      left: 250px;
    }
    //@media screen and (max-width: 992px) {
    //  left: 100px;
    //}
    @media screen and (max-width: 991px) {
      left: 100px;
      bottom: -50px;
      width: 300px;
    }
    @media screen and (max-width: 530px) {
      bottom: -80px;
      width: 250px;
    }
  }
}

.about-company-general {
  background-color: #e8e8e8;
  margin: 0 0 70px 0;
  padding: 80px 0 50px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
    }
  }
  &__left-col {
    flex: 0 0 70%;
    @media screen and (max-width: 1279px) {
      flex: 0 0 65%;
    }
    @media screen and (max-width: 991px) {
      flex: 0 0 100%;
      margin: 0 0 30px 0;
    }
  }
  &__right-col {
    flex: 0 0 28%;
    @media screen and (max-width: 1279px) {
      flex: 0 0 33%;
    }
    @media screen and (max-width: 991px) {
      flex: 0 0 100%;
    }
  }
  &__subtitle {
    color: #c3191e;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 30px 0;
  }
  &__text {
    font-size: 17px;
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }
  &__quote {
    background-color: #fff;
    box-shadow: 9.801px 4.994px 24px 0 rgba(33, 36, 42, .27);
    margin: 0 0 30px 0;
    padding: 40px 30px 20px;
  }
  &__quote-text {
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 30px 0;
    position: relative;
    &::before,
    &::after {
      color: #c3191e;
      font-family: 'Times New Roman', serif;
      font-size: 80px;
      line-height: 1;
      position: absolute;
    }
    &::before {
      content: '“';
      left: -25px;
      top: -45px;
    }
    &::after {
      bottom: -60px;
      content: '”';
      right: -10px;
    }
  }
  &__quote-author {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  &__quote-company {
    font-size: 17px;
    text-align: right;
  }
  &__license {
    background-color: #c3191e;
    padding: 20px 50px 20px 20px;
  }
  &__license-link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    transition: opacity ease-out .15s;
    &:hover {
      color: #fff;
      opacity: .7;
    }
  }
  &__license-icon {
    margin: 0 10px 0 0;
  }
}

.about-company-advantages {
  margin: 0 0 70px 0;
  &__title {
    font-weight: 800;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -30px -15px 0;
  }
  &__item {
    display: flex;
    flex: 0 0 33.333%;
    padding: 30px 15px 0;
    transition: all ease-out .15s;
    &::before {
      display: none;
    }
    &:hover {
      transform: scale(1.1);
    }
    @media screen and (max-width: 1279px) {
      flex: 0 0 50%;
    }
    @media screen and (max-width: 767px) {
      flex: 0 0 100%;
    }
  }
  &__inner {
    box-shadow: 0 0 15px 0 rgba(62, 62, 62, .14);
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  &__img {
    margin: 0 0 20px 0;
  }
  &__name {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__text {
    font-size: 17px;
    font-weight: 300;
  }
}

.about-mission {
  background-color: #e8e8e8 !important;
}

.about-company-history {
  padding: 70px 0 60px;
  &__title {
    font-weight: 800;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }
  &__year-slider {
    margin: 0 0 40px 0;
    padding: 0 90px;
    @media screen and (max-width: 1279px) {
      padding: 0 30px;
    }
    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }
  &__year-list {
    justify-content: space-between;
    @media screen and (max-width: 1279px) {
      justify-content: unset;
    }
  }
  &__year-item {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    width: auto;
    &::before {
      display: none !important;
    }
    &--red {
      color: #c3191e;
    }
  }
  &__year {
    cursor: pointer;
    font-size: 17px;
    text-decoration: underline;
  }
  &__slider {
    position: relative;
    overflow: hidden;
  }
  &__item {
    margin-bottom: 0 !important;
    padding: 0 90px !important;
    width: 100%;
    @media screen and (max-width: 1279px) {
      padding: 0 30px !important;
    }
    @media screen and (max-width: 991px) {
      padding: 0 !important;
    }
    &::before {
      display: none !important;
    }
  }
  &__inner {
    background-color: #e8e8e8;
    padding: 30px 50px;
    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }
  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &__left-col {
    display: flex;
    flex-direction: column;
  }
  &__right-col {
    flex: 0 0 40%;
    @media screen and (max-width: 767px) {
      flex: 0 0 100%;
      margin: 20px 0 0 0;
    }
  }
  &__image {
    height: 250px;
    width: 100%;
  }
  &__img {
    height: 100%;
    //object-fit: contain;
    //object-position: right;
    width: 100%;
    @media screen and (max-width: 767px) {
      object-position: center;
    }
  }
  &__name {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 20px 0;
    left: 0;
    position: absolute;
    top: 0;
    @media screen and (max-width: 767px) {
      left: unset;
      position: relative;
      right: unset;
    }
  }
  &__text {
    font-size: 17px;
    &--head {
      color: #c3191e;
      font-weight: bold;
      margin: 0 0 20px 0;
    }
    &--light {
      color: #898989;
      font-size: 15px;
    }
  }
  &__link {
    color: #c3191e;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
  }
  &__button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0;
    position: absolute;
    transition: all ease-out .15s;
    z-index: 10;
    &:hover {
      opacity: .7;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
    &--prev {
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
    &--next {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.about-company-community {
  padding: 50px 0 60px;
  &__title {
    font-weight: 800;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &__col {
    flex: 0 0 48%;
    @media screen and (max-width: 767px) {
      flex: 0 0 100%;
      &:not(:last-child) {
        margin: 0 0 30px 0;
      }
    }
  }
  &__text {
    font-size: 17px;
    a {
      font-weight: bold;
    }
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }
}

.about-company-info {
  background-image: linear-gradient(to right, rgb(232, 232, 232) 0%, rgb(232, 232, 232) 50%, rgb(236, 47, 53) 50%, rgb(236, 47, 53) 100%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  @media screen and (max-width: 991px) {
    background-image: unset;
    background-color: rgb(232, 232, 232);
  }
  &__content {
    display: flex;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
  }
  &__hire {
    flex: 0 0 50%;
    padding: 40px 0 35px;
    @media screen and (max-width: 991px) {
      flex: 0 0 100%;
    }
  }
  &__title {
    font-size: 45px;
    font-weight: 800;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding: 100px 40px 60px;
    @media screen and (max-width: 991px) {
      flex: 0 0 100%;
      padding: 50px 0 40px;
    }
  }
  &__text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    @media screen and (max-width: 991px) {
      color: #21242a;
    }
  }
  &__link {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    @media screen and (max-width: 991px) {
      color: #21242a;
    }
  }
  &__desc {
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 40px;
    @media screen and (max-width: 991px) {
      color: #21242a;
    }
  }
}
